  
body {
  margin: auto;
  max-width: 50em;
  font-family: sans-serif;
  background-color: rgb(243, 204, 237);
}

h1, h2 {
  margin: 0;
}

.header {
  background-color: rgb(85, 22, 71);
  color: white;
  padding: 1em;
  margin: 0.5em 0;
}

.nav {
  background-color: rgb(250, 223, 248);
  text-align: center;
}


nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline-block;
  padding: 0 1em;
  margin: 0;
}

nav li:not(:last-of-type) {
  border-right: 1px solid black;
}

.content {
  background-color: rgb(250, 223, 248);
  padding: 1em;
  margin: 0.5em 0;
}

.pet {
  border: 2px solid rgb(85, 22, 71);
  background-color: rgb(214, 165, 211);
  margin: 1em;
  padding: 0.2em 0.5em;
}

.info {
  border: 2px solid black;
  margin: 1em;
  padding: 0.5em;
  background-color:rgb(85, 22, 71);
  color: white;
}

