{% extends "layout.html" %}

{% block title %}Lemmikkisovellus{% endblock %}

{% block content %}

<form action="/edit/{{ message.id }}" method="post">
    <p>
      <h2>Muokkaa kommenttia lemmikille {{ pet.name }}</h2>

      {% for message in get_flashed_messages() %}
      <p class="info">
        {{ message }}
      </p>
      {% endfor %}

      Kommentti on pakollinen kenttä, maksimipituus 5000 merkkiä.<br/><br/>
      Kommentti:<br />
      <textarea name="content" rows="5" cols="40"  maxlength="5000" required>{{ message.content }}</textarea>
    </p>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" name="continue" value="Lähetä" />
    <input type="submit" name="cancel" value="Peruuta" />
  </form>

  {% endblock %}