<form action="/edit_pet/{{ pet.id }}" method="post">
  <p>
    <h1>Muokkaa lemmikin {{ pet.name }} tietoja</h1>
    Tähdellä merkityt kentät ovat pakollisia. <br/><br/>
    Nimi*: <br />
    <textarea name="name" maxlength="50" required>{{ pet.name }}</textarea>
  </p>
  <p>
    Eläinlaji*: <br />
    <textarea name="species" maxlength="100" required>{{ pet.species }}</textarea>
  </p>
  <p>
    Rotu: <br />
    <textarea name="breed" maxlength="100">{{ pet.breed }}</textarea>
  </p>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" value="Lähetä" />
  <p>
    <a href="/pet/{{ pet.id }}">Palaa lemmikin tietoihin</a> | <a href="/">Etusivulle</a>
  </p>
</form>