{% extends "layout.html" %}

{% block title %}Lemmikkisovellus{% endblock %}

{% block content %}
<h2>Kaikki sovelluksen lemmikit</h2>

{% for message in get_flashed_messages() %}
<p class="info">
  {{ message }}
</p>
{% endfor %}


{% for pet in pets %}
<div class="pet">
  <p>
    <a href="/pet/{{ pet.id }}">{{ pet.name }}</a>
    <br />
    {% if pet.total == 0 %}
    {{pet.species}}, {{pet.breed}}, lisännyt <a href="/user/{{ pet.user_id }}">{{ pet.username }}</a><br/>
    Ei kommentteja
    
    {% else %}
    {{pet.species}}, {{pet.breed}}, lisännyt <a href="/user/{{ pet.user_id }}">{{ pet.username }}</a><br/> 
    {{ pet.total }} kommenttia, uusin {{ pet.last }}

    {% endif %}
  </p>
  </div>
  {% endfor %}

{% if session.user_id %}
<h3>Lisää lemmikki</h3>
Tähdellä merkityt kentät ovat pakollisia. Nimen, eläinlajin ja rodun pituus voi olla maksimissaan 40 merkkiä.

<form action="/new_pet" method="post">
  <p>
    Nimi*: <br />
    <input type="text" name="name" maxlength="40" required/>
  </p>
  <p>
    Eläinlaji*: <br />
    <input type="text" name="species" maxlength="40" required/>
  </p>
  <p>
    Rotu: <br />
    <input type="text" name="breed"  maxlength="40"/>
  </p>
    <p>
    <label for="activity">Aktiivisuustaso*: </label>
    <select name="activity" id="activity" required/>
    <option value="" selected disabled hidden>Valitse aktiivisuustaso</option>
    {% for activity in activities %}
    <option value="{{ activity.id }}">{{ activity.activity }}</option>
    {% endfor %}
  </select>
  </p>
     <p>
    <label for="appetite">Ruokahalu*: </label>
    <select name="appetite" id="appetite" required/>
    <option value="" selected disabled hidden>Valitse ruokahalun määrä</option>
    {% for appetite in appetites %}
    <option value="{{ appetite.id }}">{{ appetite.appetite }}</option>
    {% endfor %}
  </select>
  </p>

    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" value="Lähetä" />
</form>
{% endif %}

{% endblock %}