<!DOCTYPE html>
<html>

<head>
  <title>Lemmikkisovellus</title>
</head>

<body>
  <p>
    <h1>Tervetuloa lemmikkisovellukseen!</h1>
  </p>

<p>
    {% if session.user_id %}
    Olet kirjautunut sisään käyttäjänimellä {{session.username}} <br/>
    <a href="/logout">Kirjaudu ulos</a><br/>
    {% else %}
    <a href="/register">Luo tunnus</a> |
    <a href="/login">Kirjaudu sisään</a>
    {% endif %}
    <hr />
    <a href="/search">Haku</a>
  </p>
  <hr />

  <h2>Lemmikit</h2>
{% for pet in pets %}
  <p>
    <a href="/pet/{{ pet.id }}">{{ pet.name }}</a>
    <br />
    {% if pet.total == 0 %}
    {{pet.species}}, {{pet.breed}}, lisännyt {{pet.username}}<br/>
    Ei kommentteja
    
    {% else %}
    {{pet.species}}, {{pet.breed}}, lisännyt {{pet.username}}<br/> 
    {{ pet.total }} kommenttia, uusin {{ pet.last }}

    {% endif %}
  </p>
  <hr />
  {% endfor %}

{% if session.user_id %}
<h2>Lisää lemmikki</h2>

<form action="/new_pet" method="post">
  <p>
    Nimi: <br />
    <input type="text" name="name" maxlength="100" required/>
  </p>
  <p>
    Eläinlaji: <br />
    <input type="text" name="species" maxlength="100"/>
  </p>
  <p>
    Rotu: <br />
    <input type="text" name="breed"  maxlength="100"/>
  </p>

    <input type="submit" value="Lähetä" />
</form>
{% endif %}


</body>

</html>