{% extends "layout.html" %}

{% block title %}Lemmikkisovellus{% endblock %}

{% block content %}

  {% if session.user_id %}
  Kirjaudu ensin <a href="/logout">ulos</a>.

    {% else %}

  <h2>Kirjaudu sisään</h2>

  {% for message in get_flashed_messages() %}
  <p class="info">
    <b>{{ message }}</b>
  </p>
  {% endfor %}

  
  Voit luoda tunnuksen <a href="/register">täällä</a>.
  <form action="/login" method="post">
    <p>
      Tunnus: <br />
      <input type="text" name="username"  minlength = "5" maxlength="20" required/>
    </p>
    <p>
      Salasana: <br />
      <input type="password" name="password"  minlength = "5" maxlength="20" required/>
    </p>

      {% if next_page %}
    <input type="hidden" name="next_page" value="{{ next_page }}" />
    {% else %}
    <input type="hidden" name="next_page" value="/" />
    {% endif %}
    
    <input type="submit"  class="button" value="Kirjaudu" />
  </form>
{% endif %}
{% endblock %}

