<!DOCTYPE html>
<html>

<head>
  <title>Kirjaudu sisään</title>
</head>
<body>
  <h1>Kirjaudu sisään</h1>

  {% for message in get_flashed_messages() %}
  <p class="info">
    <b>{{ message }}</b>
  </p>
  {% endfor %}
  
  Voit luoda tunnuksen <a href="/register">täällä</a>.
  <form action="/login" method="post">
    <p>
      Tunnus: <br />
      <input type="text" name="username"  minlength = "5" maxlength="20" required/>
    </p>
    <p>
      Salasana: <br />
      <input type="password" name="password"  minlength = "5" maxlength="20" required/>
    </p>

    {% if next_page %}
    <input type="hidden" name="next_page" value="{{ next_page }}" />
    {% else %}
    <input type="hidden" name="next_page" value="/" />
    {% endif %}
    
    <input type="submit" value="Kirjaudu" />
  </form>

  <hr />
  <p>
    <a href="/">Etusivulle</a>
  </p>
</body>

</html>