{% extends "layout.html" %}

{% block title %}Lemmikkisovellus{% endblock %}

{% block content %}

  <h2>{{ pet.name }}</h2>
  
  {% for message in get_flashed_messages() %}
<p class="info">
  <b>{{ message }}</b>
</p>
{% endfor %}

  Eläinlaji: {{pet.species}}<br />
  Rotu: {{pet.breed}}<br/>
  Aktiivisuustaso: {{pet.activity}}<br/>
  Ruokahalu: {{pet.appetite}}<br/>
  Lisännyt: <a href="/user/{{ pet.user_id }}">{{ pet.username }}</a><br/>

  <p>
  {% if pet.has_image %}
  <img src="/image_pet/{{ pet.id }}" width="150" alt="Lemmikin {{ pet.name }} kuva"/><br/>
  {% endif %}
  
  {% if pet.user_id == session.user_id %}
  {% if pet.has_image %}
  <a href="/pet/add_image/{{ pet.id }}">Vaihda kuva</a> | 
  <a href="/remove/image_pet/{{ pet.id }}">Poista kuva</a>
  {% else %}
  <a href="/pet/add_image/{{ pet.id }}">Lisää kuva</a>
  {% endif %}
  </p>

  <p>
    <a href="/edit_pet/{{ pet.id }}">Muokkaa lemmikkiä</a> |
    <a href="/remove_pet/{{ pet.id }}">Poista lemmikki</a>
  </p>

  {% endif %}

  <hr />
  <h3>Arvostelut</h3>
    <p>
    {% if grade_statistics.grade_count == 0 %}
      Lemmikillä ei ole vielä arvosteluja.

    {% else %} 
    Lemmikille on annettu {{ grade_statistics.grade_count }} arvosana(a). Lemmikin huonoin arvosana on {{ grade_statistics.min_grade }}, paras arvosana on {{ grade_statistics.max_grade }} ja arvosanojen keskiarvo on {{ grade_statistics.average_grade }}.
    {% endif %}
  </p>

  <p>
      {% if session.user_id %}
      {% if is_graded == True %}
    Olet arvostellut lemmikin ja antanut sille arvosanaksi {{ grade.grade }}.
    <p>
    <a href="/edit_grade/{{ grade.id }}">Muokkaa arvostelua</a> |
    <a href="/remove_grade/{{ grade.id }}">Poista arvostelu</a>
    </p>

    {% else %}
    Voit halutettasi arvostella lemmikin. Asteikko on 1-5, joista 1 on heikoin ja 5 paras.</p>
    <p>
    <form action="/new_grade" method="post">
    <label for="grade">Arvosana (1-5): </label>
    <select name="grade" id="grade" required>
    <option value="" selected disabled hidden>Valitse arvosana</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>

  </select></p>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="hidden" name="pet_id" value="{{ pet.id }}" />
  <input type="submit" name="grade" value="Lähetä" />
</form>

 {% endif %}
  {% endif %}



  <hr />
  {% if session.user_id %}
  <h3>Uusi kommentti</h3>
  Kommentin sallittu pituus on 1-5000 merkkiä.
  <form action="/new_message" method="post">
    <p>
      <label for="content">Kommentti</label>:<br />
      <textarea name="content" rows="5" cols="40"  maxlength="5000" required></textarea>
    </p>
    <input type="hidden" name="pet_id" value="{{ pet.id }}" />
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" value="Lähetä" />
  </form>
  {% endif %}

  <h3>Kommentit</h3>

  {% for message in messages %}
  <div class="pet">
  <p id="{{ message.id }}">
    <a href="/user/{{ message.user_id }}">{{ message.username }}</a> ({{ message.sent_at }}):
  </p>
  <p>
    {{ message.content | show_lines }}
  </p>
  {% if message.user_id == session.user_id %}
  <p>
    <a href="/edit/{{ message.id }}">Muokkaa kommenttia</a> |
    <a href="/remove/{{ message.id }}">Poista kommentti</a>
  </p>
  {% endif %}
  </div>
  {% endfor %}

  {% endblock %}