<!DOCTYPE html>
<html>

<head>
  <title>{{ pet.name }}</title>
</head>

<body>
  <h1>{{ pet.name }}</h1>
  Eläinlaji: {{pet.species}}<br />
  Rotu: {{pet.breed}}<br/>
  Lisännyt: {{pet.username}}<br/>

  {% if pet.user_id == session.user_id %}
  <p>
    <a href="/edit_pet/{{ pet.id }}">Muokkaa lemmikkiä</a> |
    <a href="/remove_pet/{{ pet.id }}">Poista lemmikki</a>
  </p>
  {% endif %}

  <hr />
  <h3>Kommentit</h3>
  {% for message in messages %}
  <p>
    {{ message.username }} ({{ message.sent_at }}):
  </p>
  <p>
    {{ message.content }}
  </p>
  {% if message.user_id == session.user_id %}
  <p>
    <a href="/edit/{{ message.id }}">Muokkaa viestiä</a> |
    <a href="/remove/{{ message.id }}">Poista viesti</a>
  </p>
  {% endif %}
  <hr />
  {% endfor %}

  {% if session.user_id %}
  <h3>Uusi kommentti</h3>

  <form action="/new_message" method="post">
    <p>
      Kommentti:<br />
      <textarea name="content" rows="5" cols="40"  maxlength="5000" required></textarea>
    </p>
    <input type="hidden" name="pet_id" value="{{ pet.id }}" />
    <input type="submit" value="Lähetä" />
  </form>
  <hr />
  {% endif %}

  <p>
    <a href="/">Etusivulle</a>
  </p>
</body>

</html>