{% extends "layout.html" %}

{% block title %}Lemmikkisovellus{% endblock %}

{% block content %}

  <h2>Poista kommentti</h2>
  {% for message in get_flashed_messages() %}
  <p class="info">
    <b>{{ message }}</b>
  </p>
  {% endfor %}
  
  <form action="/remove/{{ message.id }}" method="post">

    <p>
      Haluatko varmasti poistaa kommentin?
    </p>
    <p>Kommentti:<br/>
      <textarea readonly name="content" rows="5" cols="40">{{ message.content }}</textarea> 
    </p>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" name="continue" value="Poista kommentti" />
    <input type="submit" name="cancel" value="Palaa lemmikin tietoihin" />
  </form>



{% endblock %}