{% extends "layout.html" %}

{% block title %}Lemmikkisovellus{% endblock %}

{% block content %}

<form action="/remove_pet/{{ pet.id }}" method="post">
    <h2>Poista lemmikki {{ pet.name }}</h2>

    {% for message in get_flashed_messages() %}
  <p class="info">
    <b>{{ message }}</b>
  </p>
  {% endfor %}
  
    <p>
      Haluatko varmasti poistaa lemmikin {{ pet.name }}?
    </p>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" name="continue" value="Jatka" />
    <input type="submit" name="cancel" value="Peruuta" />
  </form>


  {% endblock %}