{% extends "layout.html" %}

{% block title %}Lemmikkisovellus{% endblock %}

{% block content %}

  <h2>Haku</h2>

  {% for message in get_flashed_messages() %}
  <p class="info">
    <b>{{ message }}</b>
  </p>
  {% endfor %}

  <form action="/search" method="get">
    <p>
      Voit hakea lemmikkien kommenteista hakusanalla. </p>
    <p>
      Kommentti:
      {% if query %}
      <input type="text" name="query" value="{{ query }}" />
      {% else %}
      <input type="text" name="query" />
      {% endif %}
    </p>
    <input type="submit"  class="button" value="Hae" />
  </form>

  {% if query %}
  <hr />
  <h2>Tulokset</h2>
  
  <ul>
  {% for result in results %}
    <li>
      <a href="/pet/{{ result.pet_id }}#{{ result.message_id }}">
        {{ result.pet_name }}
      </a>
      <br />
      {{ result.username }} ({{ result.sent_at }})
    </li>
  {% endfor %}
  </ul>
  {% endif %}

{% endblock %}